<div class="container">
    <h1><%= @cocktail.name %></h1>
    <% @cocktail.photos.each do |photo| %>
      <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill %>
    <% end %>
    <% @cocktail.doses.each do |dose|%>
      <p><%= dose.description %> - <%= dose.ingredient.name %> <%= link_to "Delete", dose_path(dose), method: :delete %></p>
    <% end %>
    <hr>
    <div class="container">
      <div class="row">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient, default: Ingredient.find(1) %>
          <%= f.submit class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
    <% if @dose.errors.any? %>
        <ul>
          <% @dose.errors.full_messages.each do |message| %>
            <li><%= message.lstrip %></li>
          <% end %>
        </ul>
    <% end %>
    <hr>

    <%= link_to "back to list", root_path %>
</div>



